.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #363740;
}

.login-card {
  width: 400px;
  padding: 60px;
}

.login-title {
  text-align: center;
  color: white;
  background-color: #363740;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.login-btn {
  width: auto;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}

.signup-link {
  color: #3751ff;
  text-decoration: none;
}

.form-label {
  color: #fff;
}

.password-toggle-icon3 {
  position: relative;
  top: -40px;
  left: 250px;
  cursor: pointer;
  color: #9fa2b4;
}

.forgot-password-link {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  right: -125px;

  &:hover {
    text-decoration: underline;
  }
}
